/** 
 * Third-party dependencies
 */
 
@import 'jeet'
@import 'rupture'
@import 'kouto-swiss'

/** 
 * Project partials
 */

@import 'partials/palette'
@import 'partials/variables'

html
body
  height 100%
  margin 0
  background grey-200
  font-family font-family-base
  font-size font-size-base

core-toolbar
  background-color #3F51B5
  color white
  box-shadow none

